<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Registration</title>
    <style>
    form{
        margin-left: 200px;
        margin-right: 200px;
    }
    </style>
</head>
<body style=" text-align: center">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
      </div>
    </div>
  </nav>
  
    <div class="alert alert-primary" role="alert">
        <h1 style="text-align: center;">Registration Form For Donors</h1>     
    </div>
    <form action={% url 'register'  %}  method="POST" style="display: inline-block;width:500px;">
        {% csrf_token %}
        <div class="form-group">
          
          <input type="text" class="form-control"  name="nationalID"  placeholder="National ID" pattern="[0-9]{14}" title="National ID must be 14 number" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" title="Enter Your Name" required>
          </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email address" aria-describedby="emailHelp" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  name="email" title="Enter Your E-mail" required>
        </div>
        <div class="form-group">
            <select name="city" class="form-control" id="city"   placeholder="city" title="Enter Your city" required>
              <option value="" selected disabled hidden>city</option>
              <option value="Cairo">Cairo</option>
              <option value="mansoura">mansoura</option>
              <option value="Alexandria">Alexandria</option>
              <option value="AlMahallah">AlMahallah</option>
              <option value="Aswan">Aswan</option>
              <option value="Luxor">Luxor</option>
            </select>
        </div>
          <div class="form-group">
            <select name="virustest" id="virustest"  placeholder="Virus Test" class="form-control" title="Enter Your Virus Test Result" required>
              <option value="" selected disabled hidden>Virus Test</option>
              <option value="Positive">Positive</option>
              <option value="Negative">Negative</option>
            </select>
          </div>  
          <div class="form-group">
            <select name="bloodtype"  placeholder="Blood Type" class="form-control" id="bloodtype"  title="Enter Your Blood Type" required>
              <option value="" selected disabled hidden>Blood Type</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
              <option value="P+">P+</option>
              <option value="P-">P-</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
            </select>
            <br><br>
          </div>  
      
        <button style="padding: 10px 145px;border-radius: 12px;" type="submit" class="btn btn-primary">Register</button>
      </form>   
      
      <!-- {{form}} -->
</body>
</html>